<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.class01.users.repository.UserRepository">

    <select id="findByUsername" resultType="com.example.class01.users.domain.vo.Users">
        select *
        from users
        where username = #{username}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into users (id, username, email, picture, role, password, createdDate)
        values (#{id}, #{username}, #{email}, #{picture}, 'USER', #{password}, CURRENT_TIMESTAMP)
    </insert>

</mapper>